/* Colors */

:root {
  --black-10: #F5F8FC;
  --black-20: #F2F4F5;
  --black-30: #D5D9DE;
  --black-40: #ABB4BE;
  --black-50: #9DA6B0;
  --black-60: #858E99;
  --black-70: #6F7A87;
  --black-80: #495662;
  --black-90: #373E47;
  --black-100: #23292F;

  --white: #FFFFFF;
  --accent: #F9BA32;
  --accent-hover: #FDF2D9;
}

.white {
  color: var(--white);
}
.black-10 {
  color: var(--black-10);
}
.black-20 {
  color: var(--black-20);
}
.black-30 {
  color: var(--black-30);
}
.black-40 {
  color: var(--black-40);
}
.black-50 {
  color: var(--black-50);
}
.black-60 {
  color: var(--black-60);
}
.black-70 {
  color: var(--black-70);
}
.black-80 {
  color: var(--black-80);
}
.black-90 {
  color: var(--black-90);
}
.black-100 {
  color: var(--black-100);
}
.accent {
  color: var(--accent);
}
.accent-hover {
  color: var(--accent-hover);
}
.bg-white {
  background-color: var(--white);
}

/* CSS */

#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
}
body {
  background-color: var(--white);
}
hr {
  height: 1px;
  border: 0;
  margin: 1em 0;
  padding: 0; 
  border-top: 1px solid var(--black-20);
}
.app {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 0 0 0;
}
.content {
  background-color: var(--white);
}
.header {
  display: flex;
  flex-direction: row;
}
.header-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  text-align: right;
}
.header-nav-item {
  padding: 0 24px;
}
.header-nav-item:hover {
  color: var(--black-70);
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 80px auto 24px auto;
}
.footer-nav-item {
  padding: 0 24px;
}
.footer-nav-item:hover {
  color: var(--black-70);
}
.footer-copyright {
  color: var(--black-80);
  font-weight: normal;
}
.temp {
  margin: auto;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* Home - Hero Section */

.section-hero {
  display: flex;
  flex-direction: column;
}
.section-hero-content {
  display: flex;
  margin-bottom: 100px;
}
.intro-info {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.intro-name {
  margin-top: 8px;
}
.intro {
  margin-top: 32px;
}
.intro-photo-content {
  display: flex;
  justify-content: flex-end;
}
.intro-photo img {
  margin-top: 60px;
  max-width: 100%;
}

/* Home - Me Section */

.section-me {
  display: flex;
  flex-direction: column;

  padding: 100px 0 0 0;
}
.section-me-header {
  display: flex;
}
.section-me-content {
  margin-top: 80px;
}
.stats-n-facts {
  display: flex;
  flex-direction: column;
}
.stats-n-facts-header {
  margin: 0;
  margin-top: 80px;
  text-transform: uppercase;
}
.stats-n-facts-content {
  float: left;
  margin: 40px 0 40px 0;

  height: auto;
}


/* Home - Work Section */

.section-portfolio {
  display: flex;
  flex-direction: column;

  margin: 120px 0 0px 0;
}
.section-portfolio-header {
  display: flex;
}
.portfolio-content {
  margin: 56px 0 0 0;
}

/* Home - Career Section */

.section-career {
  display: flex;
  flex-direction: column;
  padding: 100px 0 0 0;
}
.section-career-content {
  margin-top: 16px;
  margin-bottom: 100px;
}
.job-description-style {
  float: right;
}


/* Typography */

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  /* src: url('%PUBLIC_URL%/fonts/Montserrat-Regular.ttf'); /* IE9 Compat Modes */ */
  src:
    /* url('../public/fonts/open-sans-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8
    /* url('../public/fonts/open-sans-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    /* url('../public/fonts/open-sans-v13-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */

    url('%PUBLIC_URL%/fonts/Montserrat-Light.ttf') format('truetype'), /* Modern Browsers */
    url('%PUBLIC_URL%/fonts/Montserrat-Regular.ttf') format('truetype'), /* Modern Browsers */
    url('%PUBLIC_URL%/fonts/Montserrat-Italic.ttf') format('truetype'), /* Safari, Android, iOS */
    url('%PUBLIC_URL%/fonts/Montserrat-Medium.ttf') format('truetype'), /* Safari, Android, iOS */
    url('%PUBLIC_URL%/fonts/Montserrat-SemiBold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('%PUBLIC_URL%/fonts/Montserrat-Bold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('%PUBLIC_URL%/fonts/Montserrat-ExtraBold.ttf') format('truetype'), /* Safari, Android, iOS */
    url('%PUBLIC_URL%/fonts/Montserrat-Black.ttf') format('truetype'), /* Safari, Android, iOS */
}

h1 {
  display: block;
  font-size: 56px;
  font-weight: 600;
  line-height: 56px;
  text-transform: uppercase;
  margin: 0;
  color: var(--black-90);
}
h2 {
  font-size: 56px;
  font-weight: 600;
  line-height: 56px;
  text-transform: uppercase;
  margin: 0;
  color: var(--black-90);
}
h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  text-transform: uppercase;
  color: var(--black-90);
}
h4 {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  color: var(--black-90); 
}
h6 {
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0;
}
p {
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
}
.copyright {
  display: flex;
  margin-bottom: 40px;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  text-align: center;
}


/* Components */

.button-small {
  display: none;
  visibility: hidden;
}
.button-large {
  display: flex;
  visibility: visible;
}


/* Mobile */

/* Portrait and Landscape */

@media only screen and (max-device-width: 45em) { /* 960px */

  /* App */

  h1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 600;
  }

  h2 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 600; 
  }

  .app {
    padding-top: 24px;
  }


  /* Header */

  .header-nav {
    justify-content: space-evenly;
  }
  .header-name {
    text-align: center;
  }
  .header-nav-item {
    margin-top: 16px;
    text-align: center;
  }
  .footer-nav {
    display: flex;
    flex-direction: column;
    margin: 40px 0 0 0;
  }
  .footer-nav-item {
    margin: 0 auto 16px auto;
  }
  .intro-info {
    margin-top: 48px;
  }
  .section-portfolio {
    margin: 64px 0 0 0;
  }
  .section-hero-content {
    display: flex;
    margin-bottom: 40px;
  }
  .footer-nav-item {
    text-align: center; 
  }
  .intro-photo-content {
    display: none;
    visibility: hidden;
  }
  .intro-info {
    text-align: center;
  }
  .section-me-content {
    margin-top: 56px;
  }
  .job-description-style {
    float: 'left';
    margin-left: 0;
  }

  .button-small {
    display: flex;
    visibility: visible;
  }
  .button-large {
    display: none;
    visibility: hidden;
  }
}


